.top-info, .bottom-info {
    text-align: center;
    padding: 10px 5px 0px 5px;
    overflow-y: auto;
}

.top-info img.photo {
    width: 75%;
}

.top-info p.name,
.bottom-info .subscribe-form .subscribe-label {
    font-weight: bold;
    font-size: 1.1em;
    color: #ff4f4f;
    text-shadow: 2px 2px 1px #FFFFFF, 5px 4px 1px rgba(0,0,0,0.15);
}

.top-info p.about {
    border: 2px solid #1985a3;
    border-radius: 12px;
    font-weight: 600;
    color: #1985a3;
    font-size: 0.9em;
}

.top-info p.about:hover {
    background-color: #1985a3;
    color: #fff;
}

.bottom-info .subscribe-form {
    margin-bottom: 20px;
    margin-top: 20px;
}

.bottom-info .subscribe-form input {
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0 5px 0;
}

.bottom-info .subscribe-form .subscribe-label {
    margin-bottom: 5px;
    margin-top: 0;
}

.bottom-info .search-form input {
    box-sizing: border-box;
    display: inline-block;
    padding-left: 2%;
}

.bottom-info .search-form {
    height: 20px;
    background-color: #fff;
}

.bottom-info .search-form button {
    width: 20px;
    border: 0;
    height: 100%;
    float: right;
    padding: 0;
    background-color: transparent;
}
.bottom-info .search-form button svg {
    width: 100%;
    height: auto;
}
.bottom-info .search-form input {
    width: calc(100% - 20px);
    border: 0;
    background-color: transparent;
    height: 100%;
    float: left;
}

.bottom-info .cloud {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
}
.bottom-info .cloud li {
    list-style: none;
    display: inline;
}

/* some magic :) */
.bottom-info .cloud li:hover {
    color: #fff;
    background-color: #ff4f4f;
    border-radius: 3px;
}
.bottom-info .cloud li:nth-of-type(2n + 1) {
    font-size: .75em;
}
.bottom-info .cloud li:nth-of-type(2n + 1):hover {
    background-color: #3aa6c5;
    border-radius: 3px;
}
.bottom-info .cloud li:nth-of-type(3n - 1) {
    font-size: 1.25em;
}
.bottom-info .cloud li:nth-of-type(3n - 1):hover {
    background-color: #f68e8e;
    border-radius: 3px;
}
.bottom-info .cloud li:nth-of-type(3n + 2) {
    font-size: 1.5em;
}
.bottom-info .cloud li:nth-of-type(3n + 2):hover {
    background-color: #09ad2c;
    border-radius: 3px;
}
.bottom-info .cloud li:nth-of-type(5n - 2) {
    font-size: 1em;
}
.bottom-info .cloud li:nth-of-type(5n - 2):hover {
    background-color: #09ad2c;
    border-radius: 3px;
}

.comment {
    font-size: .75em;
    overflow: hidden;
    max-height: max-content;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment .comment-time {
    color: gray;
    font-size: .8em;
}

.comment .comment-user {
    font-weight: bold;
}

.comment .comment-img {
    float: left;
    max-height: 30px;
}
.comment .comment-text {
    margin: 0;
}
.subscribe-form,
.subscribe-form button,
.bottom-info .search-form,
.subscribe-form input:focus {
    border: 2px solid #f68e8e;
    border-radius: 12px;
}

.subscribe-form input {
    box-sizing: border-box;
    height: 20px;
    border-radius: 12px;
    border: 0;
    padding-left: 2%;
}

.subscribe-form {
    padding: 10px 0 10px 0;
}

/* .subscribe-form input:focus {
    border: 2px solid #f68e8e;
} */

.subscribe-form button {
    box-sizing: border-box;
    padding: 0;
    height: 30px;
    background-color: #fff;
    margin-top: 10px;
}

.subscribe-form button span{
    color: #e06262;
    font-weight: bold;
    float: right;
    line-height: 26px;
    margin: 0 2px 0 2px;
}

.subscribe-form button:hover {
    background-color: #f68e8e;
}

.subscribe-form button:hover span {
    color: #fff;
}

.subscribe-form svg {
    float: left;
    height: 100%;
}
