.top-info, .bottom-info {
    text-align: center;
    padding: 10px 5px 0px 5px;
    overflow-y: auto;
}

.top-info img.photo {
    width: 75%;
}

.top-info p.name,
.bottom-info .subscribe-form .subscribe-label {
    font-weight: bold;
    font-size: 1.1em;
    color: #ff4f4f;
    text-shadow: 2px 2px 1px #FFFFFF, 5px 4px 1px rgba(0,0,0,0.15);
}

.top-info p.about {
    font-weight: 600;
    color: #1985a3;
    font-size: 0.9em;
}

.bottom-info .subscribe-form {
    margin-bottom: 20px;
    margin-top: 20px;
}

.bottom-info .subscribe-form input {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

.bottom-info .subscribe-form .subscribe-label {
    margin-bottom: 5px;
    margin-top: 0;
}

.bottom-info .search-form input {
    box-sizing: border-box;

    display: inline-block;
}

.bottom-info .search-form input[type='submit'] {
    width: 20%;
    float: right;
}
.bottom-info .search-form input[type='text'] {
    width: 80%;
    float: left;
}

.bottom-info .cloud {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
}
.bottom-info .cloud li {
    list-style: none;
    display: inline;
}

/* some magic :) */
.bottom-info .cloud li:hover {
    color: #09ad2c;
}
.bottom-info .cloud li:nth-of-type(2n + 1) {
    font-size: .75em;
}
.bottom-info .cloud li:nth-of-type(2n + 1):hover {
    color: #ff4f4f;
}
.bottom-info .cloud li:nth-of-type(3n - 1) {
    font-size: 1.25em;
}
.bottom-info .cloud li:nth-of-type(3n - 1):hover {
    color: #3aa6c5;
}
.bottom-info .cloud li:nth-of-type(3n + 2) {
    font-size: 1.5em;
}
.bottom-info .cloud li:nth-of-type(3n + 2):hover {
    color: #3aa6c5;
}
.bottom-info .cloud li:nth-of-type(5n - 2) {
    font-size: 1em;
}
.bottom-info .cloud li:nth-of-type(5n - 2):hover {
    color: #f68e8e;
}


