/* bottom info */
.search-form,
.subscribe-form,
.subscribe-form button,
.subscribe-form input:focus,
.comments-wrp,
.comments-wrp .see-more,
.cloud {
    border: 2px solid #f68e8e;
    border-radius: 12px;
}

/* subscribe form */
.subscribe-form {
    margin: 20px 0 20px 0;
    padding: 10px 0 10px 0;
}

.subscribe-form .subscribe-label {
    margin-bottom: 5px;
    margin-top: 0;
}

.subscribe-form input {
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    margin: 5px 0 5px 0;
    border-radius: 12px;
    border: 0;
    padding-left: 2%;
}

.subscribe-form button,
.comments-wrp .see-more {
    box-sizing: border-box;
    height: 30px;
    background-color: #fff;
    color: #e06262;
    margin-top: 10px;
    padding: 0;
    font-weight: bold;
}

.subscribe-form button:hover,
.comments-wrp .see-more:hover {
    background-color: #f68e8e;
    color: #fff;
}

.subscribe-form button span {
    float: right;
    line-height: 26px;
    margin: 0 2px 0 2px;
}

.subscribe-form svg {
    float: left;
    height: 100%;
}
/* subscribe-form */

/* search-form */
.search-form {
    height: 20px;
    background-color: #fff;
}

.search-form * {
    border: 0;
    height: 100%;
}

.search-form input {
    box-sizing: border-box;
    float: left;
    width: calc(100% - 20px);
    padding-left: 2%;
    background-color: transparent;
}

.search-form button {
    width: 20px;
    float: right;
    padding: 0;
    background-color: transparent;
}

.search-form button svg {
    width: 100%;
}
/* search form */

/* cloud */
.cloud {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
}
.cloud li {
    list-style: none;
    display: inline;
}

/* some magic :) */
.cloud li:hover {
    color: #fff;
    background-color: #ff4f4f;
    border-radius: 3px;
}
.cloud li:nth-of-type(2n + 1) {
    font-size: .75em;
}
.cloud li:nth-of-type(2n + 1):hover {
    background-color: #3aa6c5;
    border-radius: 3px;
}
.cloud li:nth-of-type(3n - 1) {
    font-size: 1.25em;
}
.cloud li:nth-of-type(3n - 1):hover {
    background-color: #f68e8e;
    border-radius: 3px;
}
.cloud li:nth-of-type(3n + 2) {
    font-size: 1.5em;
}
.cloud li:nth-of-type(3n + 2):hover {
    background-color: #09ad2c;
    border-radius: 3px;
}
.cloud li:nth-of-type(5n - 2) {
    font-size: 1em;
}
.cloud li:nth-of-type(5n - 2):hover {
    background-color: #09ad2c;
    border-radius: 3px;
}
/* cloud */

/* comments */
.comment {
    font-size: .75em;
    overflow: hidden;
    max-height: max-content;
    text-align: left;
    margin: 10px 0 10px 0;
}

.comment * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment .comment-time {
    color: gray;
    font-size: .8em;
}

.comment .comment-user {
    font-weight: bold;
}

.comment .comment-img {
    float: left;
    max-height: 30px;
}
.comment .comment-text {
    margin: 0;
}
.comments-wrp .see-more {
    margin: 0 0 10px 0;
}
/* comments */
