body {
    margin: 0;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
}

svg {

    fill: #FFF;
    background-color: #f68e8e;

    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 8px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    grid-template-rows: repeat(4, minmax(100px, max-content));
    grid-gap: 10px;
}

.wrapper .header-wrapper {
    grid-area: 1/1/2/-1;
    background-color: #3aa6c5;
}

.wrapper header {
    grid-area: 1/2/2/4;
    max-width: 1200px;
}

.wrapper main {
    grid-area: 2/2/4/3;
    max-width: 1000px;
}

.wrapper .aside-wrapper {
    background-color: #f7ffb8;
    border-radius: 10px;
    grid-area: 2/3/4/4;
}

.wrapper aside.top-info {
    grid-area: 2/3/3/4;
    max-width: 200px;
}
.wrapper aside.bottom-info {
    grid-area: 3/3/4/4;
    max-width: 200px;
}

.wrapper footer {
    grid-area: 4/2/5/4;
    max-width: 1200px;
}

.wrapper .footer-wrapper {
    grid-area: 4/1/5/-1;
    background-color: #aae4e5;
}

.hamburger,
.burger-shower {
    display: none;
}

.logo {
    height: 100px;
}



.burger-menu,
.burger-menu ul,
.right-nav,
.links {
    display: flex;
    justify-content: space-between;
}


.burger-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.burger-menu ul li {
    display: inline-block;
    color: #FFF;
    font-weight: 500;
}

.right-nav {
    margin-top: 10px;
    margin-bottom: 10px;

    width: 25%;
    min-width: 200px;
    flex-direction: column;
}

.ham-search {
    display: none;
}
