:root {
    --white: #ffffff;
    --blue: #3aa6c5;
    --lightblue: #aae4e5;
    --darkpink: #ff4f4f;
    --pink: #f68e8e;
    --lightpink: #fdc1c1;
    --yellow: #f7ffb8;
    --gray: gray;
    --lightgray: #dddddd;
    --green: #09ad2c;
    --orange: #fcc205;
}